.footer {
  margin: 0 auto;
  z-index: 50;
  min-height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .flexInner {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;

    a {
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: none;
      color: var(--muted);

      &:hover {
        color: var(--text);
      }
    }
  }
}
